*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.navbar{
    height: 400px;
    display: flex;
  justify-content:space-around; 
  background:black;
  align-items:center;
  
}
#image{
    height: 550px;
    width: 300px;
    border: 1px solid black;
    border-radius: 150px;
    
    
}
#about,
#project,
#skill,
#contact
{  
    height: 120px;
    width: 120px;
    border: 2px solid black;
     display: flex;               
     align-items: center;     
    justify-content:center;      
    background-color: red;
    border-radius: 70px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
#about:hover,
#project:hover,
#skill:hover,
#contact:hover {
    background-color: black;
    color:red;
    box-shadow: 0px 0px 10px 3px whitesmoke;
}
.main{ 
display: flex;
justify-content: space-around;
padding-top: 190px;
background-color: red;
}
#box1{
    height: 400px;
    width:400px;
    background-image: url("image2.jpg");
    background-size: cover;
    border-radius: 250px;
}
#box2{
    height: 450px;
    width:450px;
    margin-top: 50px;
}

p{
    line-height: 30px;
     font-weight: 700;
    
}
p:hover{
    text-decoration: underline;
}
.main1{
display: flex;
align-items: center;
justify-content: space-evenly;
background-color: black;
}

#box3{
    margin-top: 300px;
    height: 450px;
    width:450px;
color: red;
line-height: 60px;
}
#box4{
     margin-top: 150px;
    height: 450px;
    width:450px;
      background-image:url("image3.jpg");
      background-size: cover;
      border-radius: 250px
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    height: 150px;

}
